DATABASE_URL="file:./dev.db"
HOTEL_NAME="Wi-Fi"
ADMIN_PASSWORD="admin"
ADMIN_SECRET="troque-este-segredo"
PAYMENT_PROVIDER="mock"
NETWORK_PROVIDER="mock"
# MIKROTIK_HOST="192.168.88.1"
# MIKROTIK_USER="admin"
# MIKROTIK_PASSWORD=""
